<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OrganizateUN</title>
  <link rel="stylesheet" href="Contabilidad.css"> <!-- Enlaza tu archivo CSS -->
</head>
<body style="background-color: #d9d9d9;">
    
    <div class="Container">
        <div class="Info">

            <div class="Task">
              <img src="C:\Users\japiy\OneDrive\Desktop\Diego\UNAL\Semestre 2\Progamación\OrganizateUN\models\trabajador.png" width="100%">
              <br>
              <p><b>&#916 <a href="Interfaz.html">Interfaz</a></b></p>
              <br>
              <p>Proyecto POO</p>
              <br>
              <p>Tomar café</p>
              <br>
              <p>Hacer integrales</p>
              <br>
              <p><b>&#916 Contabilidad</b></p>
              <br>
              <p>&#8594 Base: 1,000,000$</p>
              <br>
              <p>&#8594 Gastos: 450,000</p>
              <br>
              <p>&#8594 Disponible: 550,000</p>
              <br>
            </div>
      
            <div class="Today">
              <p><b>&#916 Today</b></p>
              <br>
              <p>14:00 Ir a tomar café con ...</p>
              <br>
              <p>15:30 Sacar cita en la EPS</p>
              <br>
              <p>16:00 Resumen de un mundo feliz</p>
              <br>
              <p>18:00 Ir a tomar cerveza con ...</p>
            </div>
      
        </div>

        <div class="Account">

            <div class="Title">
                <p>Balance</p>
            </div>

            <div class="Head">
                <h1>Balance</h1>
            </div>
        </div>
    </div>

</body>
</html>